input {
	file{
		path => "/home/janno/stash/data/shodan.csv"
		start_position => "beginning"
		sincedb_path => "/dev/null"
	}
}

filter {
	csv {
		separator => ","
		columns => ["IP", "ASN", "TIME", "ID", "DESC"]
	}
	mutate { convert => ["IP","string"]}
	mutate { convert => ["ASN","string"]}
	mutate { convert => ["TIME","string"]}
	mutate { convert => ["ID","integer"]}
	mutate { convert => ["DESC","string"]}
}

output { 
	elasticsearch {
		hosts => "localhost"
		index => "shodan"
		document_type => "shodan_stat"
	}
	stdout {}
}
